<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Footer</title>
  </head>
  <body>
    <footer>
      <div class="footer-nav">
        <img src="../assets/logo.png" alt="logo" class="logo" />
        <p>How to place advert on Nairaland</p>
        <p>Terms of services</p>
        <p>Privacy policy</p>
      </div>
      <img src="../assets/social.png" alt="" class="social" />
      <p class="disclaimer">
        Disclaimer:Every Nairaland member is solely responsible for anything
        he/she posts or upload in Nairaland
      </p>
      <p>
        &copy;2005-2023 Nairaland.com by Oluwaseun Osewa,Nigera.All rights
        reserved
      </p>
    </footer>
  </body>
</html>
