.header {
  margin-left: 18px;
}

.nav-wrap {
  display: flex;
  justify-content: space-between;
  height: 60px;
  max-width: 1106px;
  background-color: #f6f5ec;
  align-items: center;
  border-radius: 5px;
  flex-wrap: wrap;
}
.list {
  display: none;
}
.nav-p {
  margin-left: 10px;
}
.nav-left {
  max-width: 200px;
  height: 30px;
  padding-top: 0px;
  margin-right: 5px;
}
.bell {
  width: 24px;
  height: 24px;
  margin-top: 0;
  padding-top: 0;
  margin-right: 10px;
}
.img {
  max-width: 78px;
  max-height: 30px;
  margin-right: 10px;
}
.second-nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  max-width: 1106px;
  margin-top: 10px;
}
input {
  margin-top: 10px;
  border-radius: 10px;
  height: 30px;
  width: 483px;
  box-shadow: 5px 10px white;
  border: 5px solid #f6f5ec;
}

.search {
  position: absolute;
  right: 680px;
  /* right: 80px;
  bottom: 5px; */
  top: 90px;
  width: 30px;
}
.btn-cross {
  width: 150px;
  height: 30px;
  border-radius: 15px;
  margin-top: 10px;
  padding: 5px;
  box-shadow: 5px 10px white;
  margin-left: 10px;
  border: none;
}
.vector {
  width: 20px;
  height: 20px;
  position: relative;
  top: 15px;
  right: 178px;
}

/* media query */

@media (max-width: 480px) {
  .grid {
    display: none;
  }
  .header {
    margin: 2px;
  }
  .list {
    display: block;
    width: 12.5px;
    height: 9.5px;
  }
  .nav-wrap {
    max-width: 361px;
    height: 52px;
  }
  input {
    max-width: 361px;
    height: 40px;
  }
  .search {
    position: absolute;
    right: 30px;
    /* right: 80px;
  bottom: 5px; */
    top: 100px;
    width: 20px;
  }
  .btn-cross {
    display: none;
  }
  .vector {
    display: none;
  }
  /* .main {
    max-width: 361px;
    height: 755px;
  } */
  .hero {
    max-width: 361px;
    height: 46px;
  }
  .hero-left {
    display: none;
  }
  .comment-container {
    max-width: 341px;
    max-height: 1200px;
  }
  .comment-left {
    display: none;
  }
  .footer-right {
    display: none;
  }
  /* footer */
  footer {
    margin-top: 20px;
    max-width: 361px;
    height: 350px;
  }
  .footer-nav {
    display: block;
    margin: 0px;
    padding: 0px;
  }
  footer p {
    text-align: left;
    max-width: 400px;
    margin-top: 0px;
  }
  .social {
    position: relative;
    bottom: 135px;
    left: 310px;
    padding-left: 20px;
    width: 50px;
    height: 20px;
  }
}
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 768px) {
  .grid {
    display: none;
  }

  .header {
    margin-left: 0px;
  }
  .list {
    display: block;
    width: 12.5px;
    height: 9.5px;
  }
  .nav-wrap {
    max-width: 500px;
    height: 52px;
  }
  .search {
    position: absolute;
    right: 30px;
    /* right: 80px;
  bottom: 5px; */
    top: 100px;
    width: 20px;
  }
  .btn-cross {
    display: none;
  }
  .vector {
    display: none;
  }
  .hero {
    max-width: 500px;
    height: 46px;
  }
  .hero-left {
    display: none;
  }
  .comment-container {
    max-width: 500px;
    max-height: 1200px;
  }
  .comment-left {
    display: none;
  }
  .footer-right {
    display: none;
  }
  /* footer */
  footer {
    margin-top: 20px;
    max-width: 750px;
    max-height: 220px;
  }
  .footer-nav {
    display: block;
    margin: 0px;
    padding: 0px;
  }
  footer p {
    text-align: left;
    max-width: 200px;
    margin-top: 0px;
  }
  .social {
    position: relative;
    bottom: 135px;
    left: 310px;
    padding-left: 20px;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 769px) and (max-width: 1024px) {
  .grid {
    display: none;
  }
  .header {
    margin: 0px;
  }
  .list {
    display: block;
  }
  .search {
    position: absolute;
    right: 30px;
    /* right: 80px;
  bottom: 5px; */
    top: 100px;
    width: 20px;
  }
  .btn-cross {
    display: none;
  }
  .vector {
    display: none;
  }
  /* footer */
  footer {
    width: 1106px;
    height: 148px;
    background-color: #f6f5ec;
    padding-right: 200px;
    padding-left: 20;
    padding-bottom: 70px;
  }
  .footer-nav {
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .social {
    height: 20px;
    width: 70px;
    margin-top: 10px;
  }
  footer p {
    text-align: center;
  }
}
